page-welcome {
    img {
        background: transparent;
      }
  #welcome{
    background-image: url('../assets/imgs/w (1).jpg');
    background-size: cover;
    background-position: 63% 69%;
    }
    .footer{
        margin-left: auto;
        margin-right: auto;
        color: #795548;
        font-size: 10px;
        text-align: center;
    }
    .body{
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        font-size: 34px;
        font-weight: bold;
        text-align: center;
        line-height: 33px;
    }
    .helper{
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        font-size: 13px;
        text-align: center;
    }
    .signInBTN{
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
        background-color: color($colors,myGreen);
        width: 90%;
        border-radius: 5px;
        height: 50%;
    }
   
    .row1{
        height: 40%;
    }
    .row2{
        height: 24%;
    }
    .row3{
        height: 23%;
        padding-top: 14%;
    }
    .row4{
        height: 12%;
    }
    .row5{
        height: 1%;
        font-size: 11px;
    }




}

