

page-entries {
   .creditor{
    overflow: hidden;
   }
  .item-md {
    padding-left: 0px;
  }
  .tappable{
     padding-left: 0px !important;
   }
   .has-refresher  .scroll-content {
      border-top: 0 !important;
    }
   ion-item-sliding .item-md {
     //border-left: 2px solid red;
     padding-left: 0px;
   }
   ion-list{
    padding-bottom: 100px;
   }
   .myList{
     padding-bottom: 100px;
   }
   .label-md{
    margin: 0px 4px -2px 0;
   }
   .list-md{
    margin: 0px 0 16px;
  }
  .upperColumn{
    padding-bottom: 0px;
  }

  .it{
    padding-top: 10px; 
    border-left: 4px solid;
    
  }

   .it0{
    border-color:purple;
   }
   .it1{
    border-color: goldenrod;
   }
   .it2{
    border-color: coral;
   }
   .it3{
    border-color: rgb(240, 124, 188);
   }
   .it4{
    border-color: rgb(33, 223, 236);
   }
   .it5{
    border-color: rgb(184, 111, 252);
   }
   .it6{
    border-color: rgb(243, 64, 133);
   }
   .it7{
    border-color: rgb(241, 194, 75);
   }
   .it8{
    border-color: rgb(45, 226, 21);
   }
   .it9{
    border-color: rgb(237, 250, 178);
   }
  
  
  
}