page-create-member {
    .errorMsg{
        white-space: normal;
        color: red;
        margin-left: 17px;
      }
      .finderContainer{
          height: 110px;
      }
      .signInBTN{
        margin-top: 10px;
        //margin-left: 26%;
        opacity: 0.8;
        background-color: color($colors,myGreen);
        width: 47%;
        border-radius: 15px 15px 15px 0px;
    }
    img {
        background: url('../assets/imgs/profile.png') no-repeat;
        background-size: cover;
      }
}
