<!--
  Generated template for the MembersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header dir="{{gv.appDir}}">

  <ion-navbar>
    <ion-title>{{ 'MEMBERS.TITLE' | translate }}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="openSettings()">
          <ion-icon name="settings"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding dir="{{gv.appDir}}">

  <!-- <ion-list>
        <button ion-item *ngFor="let item of gv.members" (click)="showMemberDetails(item)">
          <h1>{{item.name}}</h1>
        </button>  
      </ion-list> -->
  <ion-list>
    <div *ngFor="let item of gv.members;let i = index">
      <ion-item (click)="showMemberDetails(item)">
        <ion-avatar item-start>
          <img *ngIf="item.userInfo" [src]="item.userInfo.imageUrl">
          <img *ngIf="!item.userInfo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ2wn18dnC8OmX7Qx49epjgoHREUBHEviB10griBGemOmkYQoK5g">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <h3 *ngIf="item.userInfo">{{item.userInfo.email}}</h3>
      </ion-item>
    </div>
  </ion-list>
  <ion-fab right bottom>
    <button (click)="addMember()" ion-fab color="special" [disabled]="!gv.hasFullPermission()" ><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>